<configuration>
   <system.runtime.remoting>
      <application>
         <client>
            <wellknown 
               type="RemotableType, RemotableType"
               url="http://localhost:8988/RemotableType.rem"
            />
         </client>
      </application>
   </system.runtime.remoting>
</configuration>